<%- include('partials/header'); -%>

<br>
<div id="ALL">
  <b>
    <h1 id="Alltitle">
      ALL ARTICLES
    </h1>
  </b>

  <br>
  
  <div id="ALLhome">

   
    
  </div>
</div>
<%- include('partials/footer'); -%>