<%- include('partials/header'); -%>

<br>
<div id="ALL">
  <b>
    <h1 id="Alltitle">
      ALL ARTICLES
    </h1>
  </b>

  <br>
  
  <div id="ALLhome">
    
  </div>
</div>

<script src="/js/script.js"></script>

<%- include('partials/footer'); -%>